.widget {
    margin: 0 0 30px;
}

.widget-title {
    margin: 0;
    font-size: 1.6em;
    font-family: Yanone Kaffeesatz, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid $gray-lightest;
    span {
        margin: 0 0 -1px;
        display: inline-block;
        line-height: 40px;
        border-bottom: 3px solid $green;
    }
}


/* Make sure select elements fit in widgets */

.widget {
    select {
        max-width: 100%;
    }
    ul {
        margin: 0 0 20px;
        padding: 0;
        list-style: none;
        ul {
            margin: 6px 0 -7px;
            padding: 0 0 0 15px;
            border-top: 1px solid $gray-lightest;
        }
    }
    li {
        padding: 6px 0;
        border-bottom: 1px solid $gray-lightest;
        a {
            color: #333;
            font-size: 1rem;
            &:hover {
                color: $brand-primary;
            }
        }
    }
}

.widget_recent_entries,
.widget_recent_comments,
.widget_archive,
.widget_categories,
.widget_widget_tptn_pop {
    li:before {
        display: block;
        float: left;
        padding-top: 2px;
        margin-left: -2.5em;
        font-family: "Fontawesome";
        font-size: 14px;
    }
}

.widget_widget_tptn_pop {
    li:before {
        content: "\f036";
    }
}

.widget_recent_entries {
    li:before {
        content: "\f036";
    }
}

.widget_recent_comments {
    li:before {
        content: "\f0e5";
    }
}

.widget_categories {
    li:before {
        content: "\f115";
    }
}

.widget_recent_entries,
.widget_categories,
.widget_recent_comments,
.widget_widget_tptn_pop {
    li {
        padding-left: 2.5em;
    }
}


/* Styling for the BMJ site link widget & header content */

.bmjNotice {
    margin-top: -5px;
}

//Tagline
#text-5 .textwidget {
    h4 {
        text-align: center;
        font-size: 1.5rem;
    }
}

/* Archives dropdown */

#archives-dropdown-2 {
    margin-top: 10px;
}

//Access The BMJ
#text-4.widget_text,
.bmj_link {
    background-color: $brand-primary;
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 10px;
    text-align: center;   
   .link_wrapper {
       border-bottom: 5px solid #4387d5;
   }
    .widget-title,
    .bmj_title {
        color: #fff;
        border-bottom: none;
        font-family: Yanone Kaffeesatz, Arial, Helvetica, sans-serif;
        padding: 5px;
        letter-spacing: 2px;
    }
    .textwidget,
    .bmj_text {
        p {
            margin: 0;
            a {
                color: #fff;
                &:after {
                    font-family: FontAwesome;
                    font-size: 1.5rem;
                    content: "\f08e";
                    padding-left: 10px;
                    opacity: .75;
                    transition: opacity .25s ease-in-out;
                    -moz-transition: opacity .25s ease-in-out;
                    -webkit-transition: opacity .25s ease-in-out;
                }
            }
            a:hover {
                text-decoration: none;
                &:after {
                    opacity: 1;
                }
            }
        }
        
    }
}

@media (min-width:768px) and (max-width:991px) {
#text-4.widget_text,
.bmj_link {
    margin-left: 0;
    margin-right: 0;
    }
}
   

@media (max-width:767px) {
    #text-4.widget_text {
        display: none;
    }
    .bmjMob {
        background-color: #2a6ebb;
        border-top: 2px solid #4387d5;
        border-bottom: 4px solid #52c9f5;
        text-align: center;
        .bmj_text {
                padding: 5px 0;
            p {
                display: inline;
            }
            img {
                width: 15%;
                padding-top: 3px;
            }
            a {
                color: #fff;
                font-weight:bold;
                &:after {
                    font-family: FontAwesome;
                    content: "\f08e";
                    padding-left: 10px;
                }
            }
            a:hover {
                text-decoration: none;
                &:after {
                    color: $green;
                    -webkit-transition: .5s ease-in-out;
                    -moz-transition: .5s ease-in-out;
                    -o-transition: .5s ease-in-out;
                }
            }
        }
    }
}

// Careers iFrame Widget - add border 

.shortcode_iframe {
    border: 1px solid #f1f1f1;
    height: 836px;
}

// Requirement to hide sub categories in sidebar
// & editableCategory too

ul.children, 
li.cat-item.cat-item-3128,
li.cat-item.cat-item-1 {
    display:none;
}