/* BMJ Blogs custom home page styles 
----------------------------------------------- */

/* frontpage category H3 styles ( & page titles)
----------------------------------------------- */

#featuredPost, 
#featuredCategory, 
#latestCategory, 
#editableCategory, 
#columnistsCategory, 
#guestCategory {
    margin-bottom: 1.5625rem;
    img.attachment-large {
        width: 715px;
        height: auto;
        margin-bottom: 20px;
    }
    img.wp-post-image {
        margin-bottom: 20px;
    }
}

#featuredPost {
    margin-bottom: 50px;
    .posted-on {
        display: none;
    }
}

/* Hide default titles */
.page header.entry-header {
    display:none;
}

h3.featuredCat,
h3.latestCat,
h3.topicsCat,
h3.columnistCat,
h3.guestCat {
    border-bottom: 1px solid $gray-lightest;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 0 0 20px 7px;
}

h3.featuredCat a {
    color: $brand-primary;
}

h3.latestCat a {
    color: $logo-blue;
}
h3.topicsCat a {
  color:$red;
}

h3.columnistCat a {
  color:$orange;
}
h3.guestCat a {
  color: $green;
}

.featuredCat span,
.latestCat span,
.topicsCat span,
.columnistCat span,
.guestCat span
 {
    border-bottom: 3px solid;
    padding: 0 15px 5px 0;
    margin: 0 0 -1px;
    display: inline-block;
    line-height: 1.25;
}



#latestCategory article {
    border-bottom: 1px solid $gray-lightest;
}

#guestCategory article {
    border-left: 3px solid $green;
    padding-left: 10px;
}

#featuredCategory, 
#latestCategory, 
#editableCategory,
#columnistsCategory,
#guestCategory {
    .entry-title {
        font-size: 1rem;
        font-weight: normal;
    }
}

#editableCategory {
    span.cat-links {
        display: none;
    }
}


// Featured Post Homepage Layout
// & STANDFIRST style (both on front page and as a single post)

#featuredPost {
    background-color: $alt-gray;
    padding-top: 15px;
    border: 1px solid $gray-lightest;
    border-bottom: 3px solid $brand-primary;
    .hentry {
        margin: 0;
    }
    h2.entry-title a {
        color: $brand-primary;
    }
    .shareaholic-canvas {
        display: none !important;
    }
    // STANDFIRST on frontpage
    // article p:first-of-type {
    //     font-weight: bold;
    //     font-style: italic;
    // }
    .entry-footer {
        border: none;
        padding: 0 0 5px 15px;
    }
}

// STANDFIRST on single post page
.single .site-main {
    p.standfirst {
        font-style: italic;
    }
}

// Columnists Category Homepage Layout
#columnistsCategory {
    img.wp-post-image {
        border-left: 3px solid $orange;
    }
}

/* Entry meta (date, category, tags, comments) display by category (some hidden)
*/
.home {
    #featuredCategory, 
    #latestCategory, 
    #editableCategory,
    #columnistsCategory,
    #guestCategory {
        span {
            &.comments-link {
                display: none;
            }
            &.tags-links {
                display: none;
            }
        }
    }
}

/************************
FEATURED POST CUSTOM STYLE
**************************/

// For Phones up to iPad
@media (max-width: 768px) {
    #featuredPost {
        background-color: $gray-lightest;
        padding: 0 0 5px 0;
        border-bottom: 3px solid $brand-primary;
        .col-sm-12 {
            padding: 0;
        }
        .entry-header, 
        .entry-content, 
        .entry-footer {
            padding: 0 10px;
        }
        .wrapper {
            padding: 10px 0;
        }
        .entry-footer {
            padding-top: 10px;
        }
    }
}