/* BMJ Blogs custom styles 
--------------------------
Content
----------------------------------------------- */

.site-content li {
    margin: 0 0 .75em;
}

.site-content {
    ul {
        ul,
        ol {
            margin-top: .75em;
        }
    }
    ol {
        ol,
        ul {
            margin-top: .75em;
        }
    }
}

.sticky {
    display: block;
}

.hentry {
    margin: 0 0 20px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.entry-header {
    margin: 0 0 10px;
}

.entry-title {
    margin: 0 0 3px 0;
    font-size: 1.5rem;
    line-height: 1.2;
    color: $gray-dark;
    font-weight: 700;
    a {
        color: $gray-dark;
        text-decoration: none;
        &:hover {
            color: $brand-primary;
        }
    }
}

.entry-meta,
.post-meta-user {
    color: $gray-light;
    font-size: 1rem;
    font-family: Yanone Kaffeesatz, Arial, Helvetica, sans-serif;
    a {
        color: $brand-primary;
        text-decoration: none;
        border: none;
        &:hover {
            color: $gray-dark;
        }
    }
    .cat-links {
        margin: 0 20px 0 0;
    }
    [class^="ico-"]:before {
        margin-right: 5px;
        color: #333;
    }
}


/*.entry-thumbnail {

} */

.single-thumbnail {
    margin-bottom: 20px;
}

.entry-thumbnail img {
    display: block;
}

.entry-content {
    margin: 0 0 20px;
    p {
        // margin-bottom: 0;
    }
    p a {
        border-bottom: 1px solid $brand-primary;
        &:hover {
            border-bottom: 2px solid;
            text-decoration: none;
        }
    }
    img {
        //border: 1px solid $gray-lightest;
        margin: 0 20px 0 0;
        // padding: 4px;
    }
}

.entry-summary {
    margin: 0 0 20px 260px;
}

.entry-footer,
.entry-meta {
    color: $gray-light;
    clear: both;
    font-family: Yanone Kaffeesatz, Arial, Helvetica, sans-serif;
    .cat-links {
        font-size: 1rem;
        &:before {
            font-family: FontAwesome;
            content: "\f07c ";
            margin: 0 5px 0 0;
        }
    }
    .tags-links {
        font-size: 1rem;
        &:before {
            font-family: FontAwesome;
            content: "\f02b ";
            margin: 0 5px;
        }
    }
    .posted-on {
        font-size: 1rem;
        &:before {
            font-family: FontAwesome;
            content: "\f073";
            margin: 0 5px 0 0;
        }
    }
    .comments-link {
        margin: 5px 5px 0;
        &:before {
            font-family: FontAwesome;
            content: "\f27a";
            ;
            margin: 0 5px 0 0;
        }
    }
    span {
        padding-right: 0;
    }
}

#featuredPost {
    .entry-footer,
    .entry-meta {
        color: $green;
    }
}

.more-link,
.page-links {
    margin: 15px 0 0;
    display: block;
    text-align: center;
}

.post-password-required label {
    float: left;
    margin: 0 10px 0 0;
}

.page-header {
    margin: 0 0 30px;
    padding: 19px 20px 5px;
    color: $brand-primary;
    background: #f1f1f1;
    border-left: 5px solid $brand-primary;
}

.page-title {
    margin: 0 0 10px;
    font-size: 1.6em;
    font-family: Yanone Kaffeesatz, Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}


/* Custom Read more 
----------------------------------------------- */

a.btn.btn-secondary.understrap-read-more-link,
.more-link {
    border: none;
    background-color: $green;
    color: #fff;
    margin-top: 15px;
    padding-right: 0;
    float: right;
    font-family: Yanone Kaffeesatz, Arial, Helvetica, sans-serif;
    &:hover {
        background-color: $logo-blue;
    }
    &:after {
        font-family: FontAwesome;
        content: "\f101 ";
        color: #fff;
        margin: 0 5px;
    }
}


/* Post Navigation
----------------------------------------------- */

.site-main [class*="navigation"] {
    margin: 0 0 15px;
    overflow: hidden;
    background-color: $brand-primary;
}

[class*="navigation"] {
    .nav-previous {
        width: 50%;
        float: left;
        text-align: left;
    }
    .nav-next {
        width: 50%;
        float: right;
        text-align: right;
    }
}

.site-main [class*="navigation"] a {
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
    font-size: 1.3em;
    background-color: $brand-primary;
    font-weight: 400;
    font-family: "Yanone Kaffeesatz", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 26px;
    &:hover {
        background: $green;
    }
}

.site-main [class*="navigation"] [class^="ico-"]:before {
    margin: 0;
}


/* Custom addition of category rss feed */

.category-feed {
    float: right;
    margin-top: -40px;
    a img:hover {
        opacity: 1;
    }
    a img {
        opacity: .75;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
    }
}

// Underline for articles in blog & archive pages
.blog,
.archive {
    article {
        border-bottom: 1px solid $gray-lightest;
    }
}


/* Custom Categroy Titles*/

h1.page-title {
    &:before {
        display: block;
        float: left;
        padding-right: 10px;
        font-family: Fontawesome;
        font-size: 1.5rem;
        content: "\f07c";
        color: $brand-primary;
    }
}

// Topics Page Styles
//heading
h3.topicsCat {
    color: $logo-blue;
}

// Hide Tags from view on inner pages (temporary fix)

.blog, 
.archive {
    .tags-links {
        display: none;
        }
}


/* ===== 

Multi-column-tag-map (topic index layout // styles)

===== */


/* =====  version 13.0.5 ===== */

#mcTagMap {
    .holdinner {
        clear: both;
    }
    .tagDescription {
        display: block;
        font-size: 90%;
        line-height: 1;
        font-style: italic;
    }
    #mcTagMapNav {
        display: block;
        background: #eeeeee;
        float: left;
        width: 100%;
        text-align: center;
        padding: 5px 0;
        border: 1px solid #888888;
        a {
            text-decoration: none;
            padding: 3px 2px 3px 6px;
            border-left: 1px solid #888888;
        }
        a:first-child {
            border-left: none;
        }
    }
    .tagindex,
    #sc_mcTagMap .tagindex {
        padding: 6px 0 10px 0;
    }
    .tagindex h4,
    #sc_mcTagMap .tagindex h4 {
        color: #52c9f5;
        border-bottom: 1px solid #f1f1f1;
        font-family: Yanone Kaffeesatz, Arial, Helvetica, sans-serif;
        padding: 0 0 4px 0;
        padding: 0 0 4px 0;
        margin: 2px 0 4px 0;
        margin: 2px 0 4px 0;
    }
    #mcTagMap .tagindex ul,
    #sc_mcTagMap .tagindex ul {
        list-style: none;
        padding: 1px 0;
        margin: 0;
    }
    .tagindex ul li,
    #sc_mcTagMap .tagindex ul li {
        list-style: none;
        padding: 2px 0;
        margin: 0;
    }
    .holdleft,
    #sc_mcTagMap .holdleft {
        display: inline;
        margin: 0 20px 0 0;
        text-align: left;
    }
    .noMargin,
    #sc_mcTagMap .noMargin {
        margin: 0 0 0 0;
    }
    .morelink,
    #sc_mcTagMap .morelink {
        display: none;
    }
}