.navbar-nav {
	line-height: 1;
	.nav-link {
		font-size: 1.125rem;
		//font-weight: bold;
		padding: 1.25rem 1.5rem;
		}
	a:hover {
		background-color: $brand-secondary;
	}
}

ul.dropdown-menu {
	li {
		a.nav-link {   
			border-bottom: 1px solid $brand-secondary;
			font-size: 1.1rem;
			padding: 1rem;
		}
	}
}